
.Banner_Section{
    position: relative;
    background-color: #5a38e5;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    max-height: 70vh;
}

.PandS{
    margin-top: 20px;
}

.Banner_Container{
    width: 70%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Banner_header,.Banner_txt{
    margin: 4px;
    padding: 2px;
}

.Banner_txt{
overflow: hidden;
font-size: 1.4rem;
text-transform: uppercase;
text-align: center;
}
/*
.B_text::after{
    content: "";
    border: 4px solid;
    border-image-source: radial-gradient(circle at bottom right, #00b3b3, transparent 30%);
    border-image-slice: 1;
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
    right: -5px;
    bottom: -5px;
    margin: 0;
}
*/

.Banner_text{
    cursor: pointer;
    background-image: url('../../Images/Card.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    width: 360px;
    height: 280px;
    margin: 10px;
    position: relative;
    border: 4px solid #16181d;
    box-shadow: 0 4px 28px rgb(0 0 0 / 60%);
    border-radius: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
  
}   